// This is the main css / overwrites 

// variables
$blue-bg: #03A9F4;
$gray-bg: #404040;
$orange-bg: #FF5722;

// elements
body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1,h2,h3 {
    font-weight:300;
}

header {
    background: $blue-bg;
    padding-top:15px;
    height: 45px;
    color: white;
    overflow: hidden;
    
    h2 {
        margin-top: 0;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

main {
    flex: 1;
    overflow: hidden;
}

footer {
    height: 60px;
    background: $gray-bg;
}

a {
    text-decoration: none;
    color: $blue-bg;
}

a:hover {
    text-decoration: underline;
}

label {
    padding: 0 5px;
    cursor: pointer;
}

label:hover {
    background: #BFFFBF;
}

input {
    cursor: pointer;
}

#apps {
    border: none;
    background: lightgray;
    resize: none;
    font-family: monospace;
    margin-bottom: 20px;
}

#distro-info {
    margin: 0 0 30px;
    text-align:left;

    ol {
        margin: 0;
        padding-left: 1rem; // align with col
    }
}

#app-choice {
    text-align:left;
    margin-bottom: 20px;
}

#options {
    margin-right: 0.5rem; // align first button with app buttons from row/col differences

    label {
        margin-right: 20px;
    }
}

.category {
    white-space: nowrap;
    flex-basis: auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.badge {
    border-radius: 50%;
    font-size: 0.8em;
    padding: 0 8px;
}

.orange-bg {
    background: $orange-bg;
    color: white;
}

.blue-bg {
    background: $blue-bg;
    color: white;
}

