// This is the main css / overwrites 

// variables
$blue-bg: #03A9F4;
$gray-bg: #404040;

// elements
body {
    font-family: "Open Sans";
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1,h2,h3 {
    font-weight:300;
}

header {
    background: $blue-bg;
    height: 60px;
    color: white;
    overflow: hidden;
    
    h2 {
        margin-top: 15px;
    }
}

main {
    flex: 1;
    overflow: hidden;
}

footer {
    height: 60px;
    background: $gray-bg;
}

#apps {
    border: none;
    background: lightgray;
    resize: none;
    font-family: monospace;
    margin-bottom: 20px;
    padding: 10px;
}

#distro-info {
    margin: 30px 0;
    text-align:left;

    ol {
        margin: 0;
    }
}

#app-choice {
    border: 1px solid black;
    padding: 10px;
    text-align:left;
    margin-bottom: 20px;
}
